
html {
    background-color: rgb(25, 190, 202);
}

div {
    text-align: center;
}

.p2 {
    text-align: right;
}

figure {
    display: inline-table
}

@media all and (max-width: 1024px)
{
    div {
        text-align: center;
    }

    img {
        height: 80%;
        width: 80%;
    }
    figure {
        
        width: auto;
    }


}