body{
	background-color: blue;
	
}
h1{
	text-align: center;
}
div{ 
    text-align: center;
}
.img2{
	width: 500px;
	height: 260px;
}
h2{
	text-align: center;
}
.Copy{
	text-align: right;
	font-weight: bold;
}

@media all and (max-width: 1040px)
{	
	body{
		background-color: white;
	}
	section {
        display: block;
        width: auto;
        text-align: justify;
    }
    .img2{
	width: 500px;
	height: 260px;
}
}